<div class="main_content">
  <h3>Dodaj kopię książki</h3>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="ISBN:" autocomplete="off" maxlength="13" type="number" >
  </mat-form-field>
  <br>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="Liczba stron:" autocomplete="off" type="number">
  </mat-form-field>
  <br>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="Data wydania:" autocomplete="off">
  </mat-form-field>
  <br>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="Wydawca:" autocomplete="off">
  </mat-form-field>
  <br>
  <button mat-button class="button_add">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>Dodaj kopię
  </button>
</div>
