<div class="main_content">
  <h3>Dodaj książkę</h3>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="Autor:" autocomplete="off">
  </mat-form-field>
  <br>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="Opis:" autocomplete="off">
  </mat-form-field>
  <br>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="Kategoria:" autocomplete="off">
  </mat-form-field>
  <br>
  <mat-form-field class="title">
    <input class="input_field" matInput placeholder="Tytuł:" autocomplete="off">
  </mat-form-field>
  <br>
  <button mat-button class="button_add">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>Dodaj książkę
  </button>
</div>
