<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-button (click)="openAddBookDialog()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">book</mat-icon>Dodaj książkę
  </button>
  <button mat-button (click)="openCopyBookDialog()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">content_copy</mat-icon>Dodaj kopię
  </button>
  <div class="spacer"></div>
  <button  mat-button (click)="logOut()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
  </button>
</div>

<div class="content" role="main">

</div>


