<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-button [matMenuTriggerFor]="menu" class="lists">
    <mat-icon aria-hidden="false">list</mat-icon>Wybierz listę...
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-button" (click)="onBooksList(); bookListShow()">Książki</button>
    <button mat-menu-item class="menu-button" (click)="onBookCopiesList(); bookCopiesListShow()">Kopie książek</button>
    <button mat-menu-item class="menu-button">Wypożyczenia</button>
  </mat-menu>
  <button mat-button (click)="openAddBookDialog()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">book</mat-icon>Dodaj książkę
  </button>
  <button mat-button (click)="openCopyBookDialog()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">content_copy</mat-icon>Dodaj kopię
  </button>
  <div class="spacer"></div>
  <button  mat-button (click)="logOut()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
  </button>
</div>

<div class="content" role="main">
  <div *ngIf="bookList" class="tab">

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Wyszukaj..." autocomplete="off" #input>
  </mat-form-field>

  <table mat-table [dataSource]="book" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element">
        <input matInput type="text" value="{{element.id}}" autocomplete="off" [readonly]="true">
      </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element">
        <input matInput type="text" value="{{element.author}}" autocomplete="off" [readonly]="true">
      </td>
    </ng-container>

    <ng-container matColumnDef="descr">
      <th mat-header-cell *matHeaderCellDef> Opis </th>
      <td mat-cell *matCellDef="let element">
        <input matInput type="text" value="{{element.description}}" autocomplete="off" [readonly]="true">
      </td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef> Gatunek </th>
      <td mat-cell *matCellDef="let element">
        <input matInput type="text" value="{{element.genre}}" autocomplete="off" [readonly]="true">
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Tytuł </th>
      <td mat-cell *matCellDef="let element">
        <input matInput type="text" value=" {{element.title}}" autocomplete="off" [readonly]="true">
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Akcja </th>
      <td mat-cell *matCellDef="let element">
      <button mat-button (click)="editBookRow()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Edytuj wiersz">mode_edit</mat-icon>
      </button>
      <button mat-button (click)="deleteBookRow(element.id)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Usuń wiersz">delete</mat-icon>
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsBook"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsBook;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  </div>


  <div *ngIf="bookCopiesList" class="tab">

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Wyszukaj..." autocomplete="off" #input>
  </mat-form-field>

  <table mat-table [dataSource]="bookCopy" class="mat-elevation-z8" *ngIf="bookCopiesList">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="page_amount">
      <th mat-header-cell *matHeaderCellDef> Liczba stron </th>
      <td mat-cell *matCellDef="let element"> {{element.pageAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="publish_date">
      <th mat-header-cell *matHeaderCellDef> Data publikacji </th>
      <td mat-cell *matCellDef="let element"> {{element.publishDate}} </td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef> Wydawca </th>
      <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="book_id">
      <th mat-header-cell *matHeaderCellDef> ID książki </th>
      <td mat-cell *matCellDef="let element"> {{element.book.id}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Akcja </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Edytuj wiersz">mode_edit</mat-icon>
        </button>
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" matTooltip="Usuń wiersz">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsBookCopy"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsBookCopy;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  </div>
</div>


